{extend name="common@base"}
{block name="import"}
	{load href="__CSS__/search/index.css"}
	<!-- javascript -->
	<script type="text/javascript">
		function rewrite_search(_form){
			var word = _form.w.value;
			if(word != "")
			{
                window.location.href = "/w/" + $('#select_left').val() + "/" + $('#select_right').val() + "/" + encodeURIComponent(encodeURIComponent(word));
            }
		}

		$(document).keyup(function(event){
			if(event.keyCode == 13 || event.which == 13)
			{
				document.getElementById("btn_search").click();
			}
		})
	</script>
{/block}
{block name="body"}
	<main>
		<h1 style="text-align: center;">这里是LOGO</h1>
		<form class="search-block" method="post" onkeydown="if(event.keyCode==13 || event.which == 13){return false;}">
			<input class="search-input" type="text" name="w" placeholder="请输入您要搜索的内容！"/>
			<input class="search-button" id="btn_search" type="button" value="搜索" onclick="rewrite_search(this.form)" />
			<div style="width: 580px; margin-left: auto; margin-right: auto">
					<select style="float:left; width: 200px;" id="select_left">
                        {volist name="sites" id="list"}
                        <option value="{$list.id}">{$list.name}</option>
                        {/volist}
					</select>
					<select style="float:right; width: 200px; margin-right: 80px" id="select_right">
                        {volist name="sites" id="list"}
                        <option value="{$list.id}"{eq name="$key" value="1"} selected="true" {/eq}>{$list.name}</option>
                        {/volist}
                    </select>
			</div>
		</form>
	</main>
{/block}