{extend name="common@base"}
{block name="import"}
	{load href="__CSS__/search/search.css"}
	<script type="text/javascript">
		function rewrite_search(_form){
			var word = _form.w.value;
			window.location.href = "http://"+window.location.host + "/w/"+ $('#select_left').val().split('|')[0] + "/" + $('#select_right').val().split('|')[0] + "/" + encodeURIComponent(word);
		}

		$(document).keyup(function(event){
			if(event.keyCode == 13 || event.which == 13)
			{
				document.getElementById("btn_search").click();
			}
		})

		function getData(){
			var word = $.query.get("w");
		}


		/* 自动适配高度 */
		function changeFrameHeight(){
				var iframes= document.getElementsByClassName('iframe-page');
				for (var i = 0; i < iframes.length; i++) {
					var iframe = iframes[i];
					iframe.height=document.documentElement.clientHeight - 76;
				 }
			}
		window.onresize=function(){
			 changeFrameHeight();
		}

		/* 显示隐藏模块 */
		var hide_left_click = false;
		var hide_right_click = false;
		function hide_iframe_left()
		{
			if(hide_left_click)
			{
				iframe_default();
				hide_left_click = false;
			}
			else
			{
				document.getElementsByClassName('iframe-page')[0].width=0;
				document.getElementsByClassName('iframe-page')[1].width='100%';
				document.getElementById('btn_hide_left').value='显示左边';
				document.getElementById('btn_hide_right').value='隐藏右边';
				hide_left_click = true;
				hide_right_click = false;
			}
		}
		function hide_iframe_right()
		{
			if(hide_right_click)
			{
				iframe_default();
				hide_right_click = false;
			}
			else
			{
				document.getElementsByClassName('iframe-page')[0].width='100%';
				document.getElementsByClassName('iframe-page')[1].width=0;
				document.getElementById('btn_hide_left').value='隐藏左边';
				document.getElementById('btn_hide_right').value='显示右边';
				hide_left_click = false;
				hide_right_click = true;
			}
		}
		function iframe_default()
		{
			document.getElementsByClassName('iframe-page')[0].width='50%';
			document.getElementsByClassName('iframe-page')[1].width='50%';
			document.getElementById('btn_hide_left').value='隐藏左边';
			document.getElementById('btn_hide_right').value='隐藏右边';
		}

		function select_left_onchange()
		{
            $('#iframe_left').attr("src", $('#select_left').val().split('|')[1]+"{$word}");
		}
		function select_right_onchange()
		{
            $('#iframe_right').attr("src", $('#select_right').val().split('|')[1]+"{$word}");
		}
	</script>
{/block}
{block name="body"}
	<main>
		<form class="search-block" action="" method="get" onkeydown="if(event.keyCode==13 || event.which == 13){return false;}">
			<input class="search-input" type="text" name="w" placeholder="请输入您要搜索的内容！" value="{$word}"/>
			<input class="search-button" type="button" value="搜索" id="btn_search" onclick="rewrite_search(this.form)" />
		</form>
		<div style="text-align: left; width: 50%; float:left;">
			<input type="button" id="btn_hide_left" value="隐藏左边" class="btn_hide" onclick="hide_iframe_left()">
			<select id="select_left" onchange="select_left_onchange()">
				{volist name="sites" id="list"}
				<option value="{$list.id}|{$list.url}"{eq name="$list.url" value="$url_left"} selected="true" {/eq}>{$list.name}</option>
				{/volist}
			</select>
		</div>
		<div style="text-align: right; width: 50%; float:right;">
			<select id="select_right" onchange="select_right_onchange()">
				{volist name="sites" id="list"}
				<option value="{$list.id}|{$list.url}"{eq name="$list.url" value="$url_right"} selected="true" {/eq}>{$list.name}</option>
				{/volist}
			</select>
			<input type="button" id="btn_hide_right" value="隐藏右边" class="btn_hide" onclick="hide_iframe_right()">
		</div>
		<html>
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		</head>
		<div style="clear: both">
			<iframe id="iframe_left" class="iframe-page" src="{$url_left}{$word}" width="50%" height="100%" onload="changeFrameHeight()" frameborder="0" border="0" framespacing="0"></iframe>
			<iframe id="iframe_right" class="iframe-page" src="{$url_right}{$word}" width="50%" height="100%" onload="changeFrameHeight()" frameborder="0" border="0" framespacing="0"></iframe>
		</div>
		</html>
	</main>
{/block}