* {
	border: 0;
	margin: 0;
	padding: 0;
}

html,body {
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	font-size:15px;
	color:#1a1a1a;
	background:#ffffff;
	-webkit-tap-highlight-color:rgba(26,26,26,0);
	width:100%;
	height:100%;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0);
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
	display: none;
	vertical-align: baseline;
	outline: 0;
}