{extend name="common@base"}
{block name="import"}
		{load href="__JS__/cheats.js,__JS__/background_slider.js"}

		{load href="__CSS__/cheats.css,__CSS__/index/index.css"}

		{load href="__CSS__/index/index-mobile.css" media="(max-width: 720px)"}

		<script type="text/javascript">
			
			/* https://i.pximg.net/img-master/img/2013/07/08/01/50/25/36919122_p0_master1200.jpg */
			var wallpapers = ["__IMAGES__/36919122_p0_master1200.jpg",
								"__IMAGES__/16848987_p0_master1200.jpg",
								"__IMAGES__/15126670_p0_master1200.jpg",
								"__IMAGES__/43409888_p0_master1200.jpg",
								"__IMAGES__/37203249_p0_master1200.jpg",
								"__IMAGES__/22600763_p0_master1200.jpg",
								"__IMAGES__/31251762_p0_master1200.jpg",
								"__IMAGES__/37016225_p0_master1200.jpg",
								"__IMAGES__/47621790_p0_master1200.jpg",
								"__IMAGES__/57080648_p0_master1200.jpg",
								"__IMAGES__/29601755_p0_master1200.jpg",
								"__IMAGES__/24958388_p0_master1200.jpg",
								"__IMAGES__/40191798_p0_master1200.jpg",
								"__IMAGES__/11333874_p0_master1200.jpg",
								"__IMAGES__/8913281_p0_master1200.jpg",
								"__IMAGES__/35231457_p0_master1200.jpg",
								"__IMAGES__/38631998_p0_master1200.jpg",
								"__IMAGES__/35019721_p0_master1200.jpg",
								"__IMAGES__/49281286_p0_master1200.jpg",
								"__IMAGES__/26339586_p0_master1200.jpg",
								"__IMAGES__/37602900_p0_master1200.jpg",
								"__IMAGES__/22208183_p0_master1200.jpg",
								"__IMAGES__/57196809_p0_master1200.jpg",
								"__IMAGES__/34512986_p0_master1200.jpg",
								"__IMAGES__/16983806_p0_master1200.jpg"];
			$(function(){
				load_wallpapers(wallpapers,"#wallpaper1","#wallpaper2");
			});
		</script>
{/block}
{block name="body"}
		<div class="wallpaper" id="wallpaper1"></div>
		<div class="wallpaper" id="wallpaper2"></div>
		<div class="body">
			<header>
				<h1 class="header-title">Welcome to FFFFFFFF</h1>（暂时仅支持Chrome）
				<div class="banner"></div>
			</header>

			<nav>
				<ul>
					<li class="nav-landscape"><a href="http://s.8f.ee">搜索</a></li>
					<li class="nav-landscape"><a href="http://g.8f.ee">游戏</a></li>
					<li class="nav-landscape"><a href="http://manage.8f.ee">管理</a></li>
				</ul>
			</nav>

			<main>
				<div style="padding: 15px;">
					<p><a href="http://app.4399.cn/index-a4399Download.html">下载4399游戏盒（安卓版）</a></p>
					<p>站长邮箱：<a href="mailto:L@8f.ee">L@8f.ee</a></p>
					<p><a href="home/tetris.html">来玩玩俄罗斯方块（开源体验版吧）</a></p>
				</div>
				
				<!-- 流动布局 根据不同屏幕分辨率展示不同的列数 -->
				<div style="padding: 15px;">
					<!-- 默认为十二列 参数为每个单元格占的列数 -->
					{volist name="sites" id="list"}
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" style="padding:7px">
						{if $list.status == 2}
							<div id="cheats_show_1" title="魂斗罗">用秘籍显示{$list.name}</div><div id="cheats_hide_1"><a href="{$list.url}" target="_blank">{$list.name}</a></div>
						{else /}
							<a href="{$list.url}" target="_blank">{$list.name}</a>
						{/if}
					</div>
					{/volist}
				</div>
			</main>

			<footer>
				<div class="wallpaper-from">图源：<a href="http://www.pixiv.net" target="_black">P站</a></div>
			</footer>
		</div>
{/block}