<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" /><!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{$title|default="8F.EE"}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="favicon.ico" />

    <!-- 外部css 顺序不可变 -->
    <!-- 第三方自定义 -->
    {load href="__CSS__/bootstrap/bootstrap.css"}
    <!-- 默认值 -->
    {load href="__CSS__/main.css"}
    {load href="__CSS__/8f_mobile.css" media="(max-width: 720px)"}<!-- mobile定制的css  响应式布局 -->

    <!-- javascript -->
    {load href="__JS__/jquery-3.3.1.min.js"}
    {load href="__JS__/bootstrap/bootstrap.js"}
    {load href="__JS__/cheats.js"}
    {load href="__JS__/background_slider.js"}