{extend name="common@base"}
{block name="import"}
    <script type="text/javascript">
        $(function(){
            $("#btn_login").on('click', function () {
                $.ajax({
                    type: 'post',
                    url: "{:url('/user/loginCheck')}",
                    data: $('#form_login').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        switch (data.status)
                        {
                            case 0:
                                alert(data.message);
                                break;
                            case 1:
                                alert(data.message);
                                window.location.href="{:url('/')}{$goto}";
                                break;
                        }
                    }
                })
            });

            $("#btn_register").on('click', function () {
                window.location.href = "/user/register{if $goto != ''}/{$goto}{/if}";
            });
        });
    </script>
{/block}
{block name="body"}
    <main class="container">
        <div class="col-lg-4" style="margin-top: 100px">
            <form id="form_login" method="post">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="uname" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="pwd" placeholder="请输入密码">
                </div>
                <button type="submit" class="btn btn-default" id="btn_login">登录</button>
                <button type="button" class="btn btn-default" style="margin-left:20px" id="btn_register">注册</button>
            </form>
        </div>
    </main>
{/block}