{extend name="common@base"}
{block name="import"}
    <script type="text/javascript">
        $(function() {
            $("#btn_register").on('click', function () {
                $.ajax({
                    type: 'post',
                    url: "{:url('/user/registerCheck')}",
                    data: $('#form_register').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        switch (data.status) {
                            case -1:
                            case 0:
                                alert(data.message);
                                break;
                            case 1:
                                alert(data.message);
                                window.location.href = "{:url('/')}";
                                break;
                        }
                    }
                })
            });
        });
    </script>
{/block}
{block name="body"}
<main class="container">
    <div class="col-lg-4" style="margin-top: 100px">
        <form method="post" id="form_register">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="uname" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="pwd" placeholder="请输入密码">
            </div>
            <div class="form-group">
                <label for="password_confirm">确认密码</label>
                <input type="password" class="form-control" id="password_confirm" name="repwd" placeholder="请重新输入密码">
            </div>
            <button type="submit" class="btn btn-default" id="btn_register">注册</button>
        </form>
    </div>
</main>
{/block}