a {
    text-decoration: none;
}

.search-block {
    padding: 15px;
    margin: auto;
    display: block;
    text-align: center;
}

.search-input {
    width: 500px;
    height: 20px;
}

.search-button {
    width: 80px;
    height: 26px;
}